<a href="https://polly.elucidata.io/manage/workspaces?action=open_polly_notebook&source=github&path=path_place_holder&kernel=elucidata/Python 3&machine=medium" target="_parent"><img src="https://elucidatainc.github.io/PublicAssets/open_polly.svg" alt="Open in Polly"/></a>

# Welcome to polly-python Notebook consisting of sample queries for after data infrastructure upgrade


For more details on how to use Notebooks on Polly, please visit [Polly Notebooks](https://docs.elucidata.io/Scaling%20compute/Polly%20Notebooks.html).

For more details on API access to your OmixAtlas, please visit [Accessing OmixAtlas using polly-python through Polly Notebooks](https://docs.elucidata.io/OmixAtlas/Polly%20Python.html).

In [1]:
# please do not modify
from IPython.display import display_html
def restartkernel() :
    display_html("<script>Jupyter.notebook.kernel.restart()</script>",raw=True)

## Install polly-python

In [2]:
!sudo pip3 install polly-python # to install polly-python

Collecting polly-python
  Downloading https://files.pythonhosted.org/packages/4b/01/053ce8c72b2dc2f6a896a7911eaa516331219e6c16493621c561b6089918/polly_python-0.0.8-py3-none-any.whl
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from polly-python) (1.0.1)
Collecting certifi==2021.5.30 (from polly-python)
  Downloading https://files.pythonhosted.org/packages/05/1b/0a0dece0e8aa492a6ec9e4ad2fe366b511558cdc73fd3abc82ba7348e875/certifi-2021.5.30-py2.py3-none-any.whl (145kB)
     |################################| 153kB 6.8MB/s eta 0:00:01
Collecting six==1.16.0 (from polly-python)
  Downloading https://files.pythonhosted.org/packages/d9/5a/e7c31adbe875f2abbb91bd84cf2dc52d792b5a01506781dbcf25c91daf11/six-1.16.0-py2.py3-none-any.whl
Collecting idna==2.10 (from polly-python)
  Downloading https://files.pythonhosted.org/packages/a2/38/928ddce2273eaa564f6f50de919327bf3a00f091b5baba8dfa9460f3a8a8/idna-2.10-py2.py3-none-any.whl (58kB)
     |################################| 61kB 48.2MB/s eta 0:00:01
Collecting chardet==4.0.0 (from polly-python)
  Downloading https://files.pythonhosted.org/packages/19/c7/fa589626997dd07bd87d9269342ccb74b1720384a4d739a1872bd84fbe68/chardet-4.0.0-py2.py3-none-any.whl (178kB)
     |################################| 184kB 76.9MB/s eta 0:00:01
Collecting python-magic==0.4.24 (from polly-python)
  Downloading https://files.pythonhosted.org/packages/d3/99/c89223c6547df268596899334ee77b3051f606077317023617b1c43162fb/python_magic-0.4.24-py2.py3-none-any.whl
Collecting cmapPy (from polly-python)
  Downloading https://files.pythonhosted.org/packages/e8/e1/9e90b0dc2051f4a3a2b9553b254889e93a2a3c7a3b925433c6298d99d596/cmapPy-4.0.1-py2.py3-none-any.whl (150kB)
     |################################| 153kB 98.6MB/s eta 0:00:01
Collecting requests==2.25.1 (from polly-python)
  Downloading https://files.pythonhosted.org/packages/29/c1/24814557f1d22c56d50280771a17307e6bf87b70727d975fd6b2ce6b014a/requests-2.25.1-py2.py3-none-any.whl (61kB)
     |################################| 61kB 49.1MB/s eta 0:00:01
Collecting urllib3==1.26.6 (from polly-python)
  Downloading https://files.pythonhosted.org/packages/5f/64/43575537846896abac0b15c3e5ac678d787a4021e906703f1766bfb8ea11/urllib3-1.26.6-py2.py3-none-any.whl (138kB)
     |################################| 143kB 89.2MB/s eta 0:00:01
Collecting Deprecated (from polly-python)
  Downloading https://files.pythonhosted.org/packages/51/6a/c3a0408646408f7283b7bc550c30a32cc791181ec4618592eec13e066ce3/Deprecated-1.2.13-py2.py3-none-any.whl
Collecting elucidatacloudpathlib==0.6.6 (from polly-python)
  Downloading https://files.pythonhosted.org/packages/b1/d6/5162b68817dd93130dc9421f23a299ee6b243c0ff8a806370727ff10090f/elucidatacloudpathlib-0.6.6-py3-none-any.whl (50kB)
     |################################| 51kB 42.1MB/s eta 0:00:01
Collecting retrying==1.3.3 (from polly-python)
  Downloading https://files.pythonhosted.org/packages/44/ef/beae4b4ef80902f22e3af073397f079c96969c69b2c7d52a57ea9ae61c9d/retrying-1.3.3.tar.gz
Collecting pytz==2021.1 (from polly-python)
  Downloading https://files.pythonhosted.org/packages/70/94/784178ca5dd892a98f113cdd923372024dc04b8d40abe77ca76b5fb90ca6/pytz-2021.1-py2.py3-none-any.whl (510kB)
     |################################| 512kB 88.9MB/s eta 0:00:01
Collecting postpy2==0.0.6 (from polly-python)
  Downloading https://files.pythonhosted.org/packages/7e/25/d98f5ea87d937bf44963be78b504dbb3ddea1c6ddfcc0985b02d062b41dd/postpy2-0.0.6-py3-none-any.whl
Collecting botocore>=1.20.73 (from polly-python)
  Downloading https://files.pythonhosted.org/packages/73/91/550fba99371c7b012579346d3a6696e9c46037bfd21d1c85096c9b5bd32a/botocore-1.24.7-py3-none-any.whl (8.6MB)
     |################################| 8.6MB 92.4MB/s eta 0:00:01
Requirement already satisfied: python-dateutil==2.8.1 in /usr/local/lib/python3.6/dist-packages (from polly-python) (2.8.1)
Collecting boto3>=1.17.73 (from polly-python)
  Downloading https://files.pythonhosted.org/packages/a0/b3/67a4b7cb769aa8b09c94307c54d619ad9b3902a4a96a69cf96990df91545/boto3-1.21.7-py3-none-any.whl (132kB)
     |################################| 133kB 95.0MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->polly-python) (1.18.1)
Collecting h5py>=2.6.0 (from cmapPy->polly-python)
  Downloading https://files.pythonhosted.org/packages/70/7a/e53e500335afb6b1aade11227cdf107fca54106a1dca5c9d13242a043f3b/h5py-3.1.0-cp36-cp36m-manylinux1_x86_64.whl (4.0MB)
     |################################| 4.0MB 90.8MB/s eta 0:00:01
Collecting wrapt<2,>=1.10 (from Deprecated->polly-python)
  Downloading https://files.pythonhosted.org/packages/e2/0f/89c9c2d8ba06709a3d471507a78be443e2c2d9f1321d3e1154c76f44150c/wrapt-1.13.3-cp36-cp36m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (78kB)
     |################################| 81kB 56.4MB/s eta 0:00:01
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from elucidatacloudpathlib==0.6.6->polly-python) (1.5.0)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from botocore>=1.20.73->polly-python) (0.9.5)
Collecting s3transfer<0.6.0,>=0.5.0 (from boto3>=1.17.73->polly-python)
  Downloading https://files.pythonhosted.org/packages/7b/9c/f51775ebe7df5a7aa4e7c79ed671bde94e154bd968aca8d65bb24aba0c8c/s3transfer-0.5.2-py3-none-any.whl (79kB)
     |################################| 81kB 56.8MB/s eta 0:00:01
Collecting cached-property; python_version < "3.8" (from h5py>=2.6.0->cmapPy->polly-python)
  Downloading https://files.pythonhosted.org/packages/48/19/f2090f7dad41e225c7f2326e4cfe6fff49e57dedb5b53636c9551f86b069/cached_property-1.5.2-py2.py3-none-any.whl
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->elucidatacloudpathlib==0.6.6->polly-python) (3.1.0)
Building wheels for collected packages: retrying
  Building wheel for retrying (setup.py) ... done
  Created wheel for retrying: filename=retrying-1.3.3-cp36-none-any.whl size=11431 sha256=36c1f5f8676379b2f36f8bca2adcff11af75dde98156c6ac7d41533acbdba69a
  Stored in directory: /home/polly/.cache/pip/wheels/d7/a9/33/acc7b709e2a35caa7d4cae442f6fe6fbf2c43f80823d46460c
Successfully built retrying
ERROR: awscli 1.18.178 has requirement botocore==1.19.18, but you'll have botocore 1.24.7 which is incompatible.
ERROR: awscli 1.18.178 has requirement s3transfer<0.4.0,>=0.3.0, but you'll have s3transfer 0.5.2 which is incompatible.
Installing collected packages: certifi, six, idna, chardet, python-magic, urllib3, requests, cached-property, h5py, cmapPy, wrapt, Deprecated, elucidatacloudpathlib, retrying, pytz, postpy2, botocore, s3transfer, boto3, polly-python
  Found existing installation: certifi 2019.11.28
    Uninstalling certifi-2019.11.28:
      Successfully uninstalled certifi-2019.11.28
  Found existing installation: six 1.14.0
    Uninstalling six-1.14.0:
      Successfully uninstalled six-1.14.0
  Found existing installation: idna 2.8
    Uninstalling idna-2.8:
      Successfully uninstalled idna-2.8
  Found existing installation: chardet 3.0.4
    Uninstalling chardet-3.0.4:
      Successfully uninstalled chardet-3.0.4
  Found existing installation: urllib3 1.26.2
    Uninstalling urllib3-1.26.2:
      Successfully uninstalled urllib3-1.26.2
  Found existing installation: requests 2.25.0
    Uninstalling requests-2.25.0:
      Successfully uninstalled requests-2.25.0
  Found existing installation: pytz 2019.3
    Uninstalling pytz-2019.3:
      Successfully uninstalled pytz-2019.3
  Found existing installation: botocore 1.19.18
    Uninstalling botocore-1.19.18:
      Successfully uninstalled botocore-1.19.18
  Found existing installation: s3transfer 0.3.3
    Uninstalling s3transfer-0.3.3:
      Successfully uninstalled s3transfer-0.3.3

  Found existing installation: boto3 1.17.4
    Uninstalling boto3-1.17.4:
      Successfully uninstalled boto3-1.17.4
Successfully installed Deprecated-1.2.13 boto3-1.21.7 botocore-1.24.7 cached-property-1.5.2 certifi-2021.5.30 chardet-4.0.0 cmapPy-4.0.1 elucidatacloudpathlib-0.6.6 h5py-3.1.0 idna-2.10 polly-python-0.0.8 postpy2-0.0.6 python-magic-0.4.24 pytz-2021.1 requests-2.25.1 retrying-1.3.3 s3transfer-0.5.2 six-1.16.0 urllib3-1.26.6 wrapt-1.13.3
WARNING: You are using pip version 19.2.3, however version 21.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [ ]:
restartkernel() #Pause for a few seconds before the kernel is refreshed

In [1]:
# please do not modify
from IPython.display import HTML
HTML('''<script type="text/javascript"> Jupyter.notebook.kernel.execute("url = '" + window.location + "'", {}, {}); </script>''')

## Import required dependencies

In [2]:
import os
from polly.auth import Polly
from polly.omixatlas import OmixAtlas
from polly.workspaces import Workspaces

## Auth with token on Polly

In [3]:
AUTH_TOKEN=(os.environ['POLLY_REFRESH_TOKEN']) # Obtain authentication tokens
Polly.auth(AUTH_TOKEN)

In [4]:
pd.set_option('display.max_columns', 500)

In [5]:
#Defining omixatlas object
omixatlas = OmixAtlas()

In [8]:
#Get basic properties of all the omixatlas users have access to
all_omix_atlas = pd.DataFrame.from_dict(omixatlas.get_all_omixatlas()['data'])

In [9]:
all_omix_atlas

,repo_name,repo_id,indexes,diseases,organisms,sources,datatypes,dataset_count,disease_count,tissue_count,organism_count,cell_line_count,cell_type_count,drug_count,data_type_count,data_source_count,sample_count,normal_sample_count
0,auron_data_lake,1613041985263,{'gct_metadata': 'auron_data_lake_gct_metadata...,"[neuroblastoma, normal, leukemia, acute myeloi...",[homo sapiens],"[auron, ccle, gdc, geo, public data (https://w...","[transcriptomics, genomics]",14,4,6,1,18,8,4,2,6,1277,72
1,hpa,1619514006627,"{'gct_metadata': 'hpa_gct_metadata', 'h5ad_met...",[normal],"[homo sapiens, sus (pig), mus musculus]",[hpa],"[transcriptomics, gene expression reliability]",1755,1,78,3,70,150,1,2,1,678,678
2,gdc,1623221686703,"{'gct_metadata': 'gdc_gct_metadata', 'h5ad_met...","[leukemia, myeloid, acute, precursor t-cell ly...",[homo sapiens],[gdc],"[mirna expression, transcriptomics, copy numbe...",9908,75,41,1,1,1,1,3,1,5353,0
3,geo,9,"{'gct_metadata': 'geo_gct_metadata', 'h5ad_met...","[normal, neoplasms, breast neoplasms, obesity,...","[homo sapiens, mus musculus, rattus norvegicus...",[geo],"[transcriptomics, raw counts transcriptomics, ...",58972,3195,977,68,5008,780,1379,3,1,1283568,828735
4,enterprise_atlas,1638441282192,{'gct_metadata': 'enterprise_atlas_gct_metadat...,"[breast neoplasms, endometrial neoplasms, endo...","[homo sapiens, mus musculus]","[geo, proprietary]","[transcriptomics, single cell, mutation, mirna]",172,35,25,2,96,40,22,4,2,8952,3937
5,cptac,1609924165364,"{'gct_metadata': 'cptac_gct_metadata', 'h5ad_m...","[carcinoma, hepatocellular, glucose-galactose ...",[homo sapiens],[cptac],"[proteomics, phosphoproteomics, transcriptomic...",6542,13,33,1,1,1,1,10,1,2440,0
6,liveromix_atlas,1615965444377,{'gct_metadata': 'liveromix_atlas_gct_metadata...,"[normal, carcinoma, hepatocellular, obesity, n...","[homo sapiens, mus musculus, rattus norvegicus...","[geo, lincs, tcga, metabolomics workbench, met...","[transcriptomics, mutation, metabolomics, sing...",6740,752,60,22,347,310,4704,12,10,143535,110202
7,cbioportal,1623986995264,"{'gct_metadata': 'cbioportal_gct_metadata', 'h...","[prostatic neoplasms, carcinoma, ductal, breas...",[homo sapiens],[cbioportal],"[mutation, copy number variation, fusion, tran...",116529,330,262,1,1,1,1,5,1,58994,0
8,depmap,1612338998334,"{'gct_metadata': 'depmap_gct_metadata', 'h5ad_...","[urinary bladder neoplasms, adenocarcinoma of ...",[homo sapiens],[depmap],"[gene dependency, drug screens, gene effect, r...",32248,130,48,1,1406,1,0,4,1,4465,0
9,pcd,1622113130397,"{'gct_metadata': 'pcd_gct_metadata', 'h5ad_met...","[none, adenocarcinoma, carcinoma, squamous cel...",[homo sapiens],[pharmacodb],[drug response],19501,133,34,1,1400,1,749,1,1,653500,262
10,lincs,32,"{'gct_metadata': 'lincs_gct_metadata', 'h5ad_m...","[prostatic neoplasms, normal, colorectal neopl...",[homo sapiens],"[geo, geo, lincs]",[transcriptomics],158254,34,21,1,84,1,20347,1,2,1371945,0
11,metabolomics,23,"{'gct_metadata': 'metabolomics_gct_metadata', ...","[normal, neoplasms, diabetes mellitus, obesity...","[homo sapiens, mus musculus, rattus norvegicus...","[metabolomics workbench, metabolights, publica...","[metabolomics, lipidomics, single cell]",1777,214,134,184,24,23,67,3,4,90677,0
12,immport,1621422280385,"{'gct_metadata': 'immport_gct_metadata', 'h5ad...","[normal, diabetes mellitus, type 1, kidney dis...","[homo sapiens, mus musculus]",[immport],"[lab measurement, proteomics, titer, pcr, cyto...",209432,86,10,2,1,2,47,5,1,51044,25886
13,transcriptomics__cyt,1612862450692,{'gct_metadata': 'transcriptomics__cyt_gct_met...,"[normal, ulcerative colitis, crohn disease, br...","[homo sapiens, mus musculus, rattus rattus]","[gene expression omnibus (geo), arrayexpress, ...","[transcriptomics, single cell]",70,17,33,3,0,3,0,2,3,3021,0
14,ukbiobank,1638762466067,"{'gct_metadata': 'ukbiobank_gct_metadata', 'h5...",[none],[homo sapiens],[],[gwas],362349,1,1,1,1,0,1,1,0,0,0
15,geo_de_results,1616071809022,{'gct_metadata': 'geo_de_results_gct_metadata'...,[],[],[],[transcriptomics],0,0,0,0,0,0,0,1,0,0,0
16,sc_data_lake,17,"{'gct_metadata': 'sc_data_lake_gct_metadata', ...","[normal, neoplasms, breast neoplasms, melanoma...","[mus musculus, homo sapiens, macaca fascicular...","[geo, humancellatlas, gene expression omnibus ...",[single cell],2121,588,439,5,75,556,87,1,6,216040,0
17,tcga,15,"{'gct_metadata': 'tcga_gct_metadata', 'h5ad_me...","[breast neoplasms, clear-cell metastatic renal...",[homo sapiens],[tcga],"[transcriptomics, mirna, copy number variation...",55277,41,62,1,1,1,606,6,1,0,0
18,etx,1641883311001,"{'gct_metadata': 'etx_gct_metadata', 'h5ad_met...","[non-alcoholic fatty liver disease, obesity, f...",[homo sapiens],[geo],[transcriptomics],28,25,5,1,3,4,9,1,1,1007,416
19,ngj,1618578954468,"{'gct_metadata': 'ngj_gct_metadata', 'h5ad_met...","[none, endometriosis, smith-magenis, tay–sachs...",[homo sapiens],[propreitary],"[mutation, transcriptomics, mirna]",18,5,5,1,1,2,1,3,1,1220,0
20,gtex,14,"{'gct_metadata': 'gtex_gct_metadata', 'h5ad_me...",[normal],[homo sapiens],[gtex],[transcriptomics],30,1,30,1,1,1,1,1,1,17381,0
21,gnomad,1628836648493,"{'gct_metadata': 'gnomad_gct_metadata', 'h5ad_...",[none],[homo sapiens],[],[gwas],196744,1,1,1,1,0,1,1,0,0,0

In [9]:
#Get basic properties of all the omixatlas users have access to
omix_atlas_summary = pd.DataFrame.from_dict(omixatlas.omixatlas_summary(9))['data']
omix_atlas_summary

cell_line_count                                                     4970
cell_type_count                                                      780
data_source_count                                                      1
data_type_count                                                        2
dataset_count                                                      10000
datatypes                  [transcriptomics, raw counts transcriptomics]
disease_count                                                       3030
diseases               [normal, neoplasms, breast neoplasms, obesity,...
drug_count                                                          1379
indexes                {'gct_metadata': 'geo_gct_metadata', 'h5ad_met...
normal_sample_count                                               840747
organism_count                                                        68
organisms              [homo sapiens, mus musculus, rattus norvegicus...
repo_id                                                                9
repo_name                                                            geo
sample_count                                                     1280558
sources                                                            [geo]
tissue_count                                                         985
Name: data, dtype: object

### Checking for schema of a repository

In [81]:
query = "SHOW TABLES IN geo"
results=omixatlas.query_metadata(query, query_api_version="v2")
results

Query execution succeeded (time taken: 0.44 seconds, data scanned: 0.000 MB)
Fetched 3 rows

     table_name
0  geo.datasets
1   geo.samples
2  geo.features

### Querying for schema of dataset level metadata of GEO

In [50]:
query = "DESCRIBE geo.datasets"
#query = "DESCRIBE geo.samples"
results=omixatlas.query_metadata(query, query_api_version="v2")
results

Query execution succeeded (time taken: 1.35 seconds, data scanned: 0.000 MB)
Fetched 52 rows

               column_name    column_type
0      growth_protocol_ch1         string
1                  src_uri         string
2                sample_id         string
3                 dose_ch1         string
4              cohort_name         string
5                   tissue  array<string>
6           src_dataset_id         string
7                     drug  array<string>
8     extract_protocol_ch1         string
9      characteristics_ch2         string
10               cell_line  array<string>
11     characteristics_ch1         string
12    extract_protocol_ch2         string
13                 age_ch1         string
14        drug_smiles_code  array<string>
15                 sex_ch1         string
16           treatment_ch1         string
17                    gene  array<string>
18               taxid_ch1         string
19               cohort_id         bigint
20                 version         bigint
21      label_protocol_ch2         string
22      label_protocol_ch1         string
23  treatment_protocol_ch2         string
24   characteristics_ch2_1         string
25  treatment_protocol_ch1         string
26        instrument_model         string
27                    name         string
28                 bmi_ch1         string
29         data_processing         string
30             description         string
31                   title         string
32              timestamp_         string
33                 data_id         string
34               cell_type  array<string>
35                src_repo         string
36                  id_key         string
37                 disease  array<string>
38              gender_ch1         string
39      smoking_status_ch1         string
40               label_ch2         string
41                 control         bigint
42               label_ch1         string
43          time_point_ch1         string
44   characteristics_ch1_3         string
45   characteristics_ch1_2         string
46           gene_modified  array<string>
47    genetic_modification  array<string>
48            hyb_protocol         string
49             platform_id         string
50              is_current         string
51   characteristics_ch1_1         string

In [8]:
omixatlas.get_schema('9')

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
NameError: name 'datasets' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'NameError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AssertionError

NameError: name 'datasets' is not defined

### Querying for dataset-id, description, number of samples etc. from GEO where platform is 'RNASeq', number of samples >20.

In [34]:
query = """SELECT dataset_id, description, total_num_samples, disease, tissue FROM geo.datasets 
            WHERE platform = 'RNASeq' AND total_num_samples > 20 ORDER BY total_num_samples desc"""
results=omixatlas.query_metadata(query, query_api_version="v2")
results

Query execution succeeded (time taken: 1.84 seconds, data scanned: 3.611 MB)
Fetched 1787 rows

,dataset_id,description,total_num_samples,disease,tissue
0,GSE86039_GPL19057,A distinct gene module uncouples dysfunction f...,384,"[Neoplasms, Virus Diseases, T cell immunodefic...",[None]
1,GSE86030_GPL19057,A distinct gene module uncouples dysfunction f...,384,"[Neoplasms, Virus Diseases, T cell immunodefic...",[None]
2,GSE101334_GPL19057,Single cell RNA-seq of smooth muscle actin cel...,384,[Normal],[lung]
3,GSE102160_GPL17021,Single cell RNA Seq data of BMDM from mouse in...,384,[Salmonella Infections],[None]
4,GSE86028_GPL19057,A distinct gene module uncouples dysfunction f...,384,"[Neoplasms, Virus Diseases, T cell immunodefic...",[None]
...,...,...,...,...,...
1782,GSE62889_GPL11154,Genome-wide expression profile of the Tet-On H...,21,[Colonic Neoplasms],[colon]
1783,GSE104305_GPL17021,Differential gene expression induced by anti-c...,21,"[Prostatic Neoplasms, Androgen-Insensitivity S...",[prostate gland]
1784,GSE114340_GPL13112,Commensal Microbiota Promote Lung Tumorigenesi...,21,"[Adenocarcinoma of Lung, Diabetes Mellitus, Ty...","[lung, spleen]"
1785,GSE90046_GPL11002,C/EBPÎ² deficiency reshapes microglial gene ex...,21,"[Parkinson Disease, Alzheimer Disease, Multipl...",[None]
1786,GSE104882_GPL21103,Diet-Induced Obesity Leads to Infarct Expansio...,21,"[Obesity, Stroke, Brain Ischemia]",[brain]

### Querying for datasets from GEO where disease array has any item consisting of keyword 'neoplasm'

In [61]:
#Querying for datasets from GEO where disease array has any item consisting of keyword 'neoplasm'
query = "SELECT disease FROM geo.datasets WHERE CARDINALITY(FILTER(disease, d -> LOWER(d) like '%neoplasm%')) > 0"
results=omixatlas.query_metadata(query, query_api_version="v2")
results

Query execution succeeded (time taken: 2.19 seconds, data scanned: 0.258 MB)
Fetched 10740 rows

                                                 disease
0                                            [Neoplasms]
1      [Neuroblastoma, Brain Neoplasms, Cognitive Dys...
2                                            [Neoplasms]
3                                       [Skin Neoplasms]
4                                 [Pancreatic Neoplasms]
...                                                  ...
10735  [Carcinoma, Hepatocellular, Adenocarcinoma of ...
10736  [Leukemia, Familial Mediterranean Fever, Bone ...
10737                                        [Neoplasms]
10738                              [Melanoma, Neoplasms]
10739                                        [Neoplasms]

[10740 rows x 1 columns]

### Querying for datasets and number of samples in a dataset from GEO where disease array has an exact term 'Obesity'

In [44]:
query = "SELECT dataset_id, total_num_samples FROM geo.datasets WHERE CONTAINS(disease, 'Obesity')"
results=omixatlas.query_metadata(query, query_api_version="v2")
results

Query execution succeeded (time taken: 1.52 seconds, data scanned: 0.766 MB)
Fetched 966 rows

             dataset_id  total_num_samples
0     GSE87565_GPL18480               12.0
1     GSE64699_GPL10558               28.0
2    GSE151268_GPL16570               20.0
3     GSE161644_GPL1261                3.0
4      GSE66766_GPL1261               10.0
..                  ...                ...
961  GSE117339_GPL10558              214.0
962    GSE62832_GPL6244               36.0
963   GSE62936_GPL16791               13.0
964    GSE16113_GPL4133               70.0
965    GSE46843_GPL7202               11.0

[966 rows x 2 columns]

### Get the abundance of different tissues across all datasets in GEO

In [35]:
query = """SELECT tissue_name, COUNT((tissue_name)) AS tissue_count FROM geo.datasets 
            CROSS JOIN UNNEST(tissue) AS t(tissue_name) GROUP BY tissue_name"""
results=omixatlas.query_metadata(query, query_api_version="v2")
results

Query execution succeeded (time taken: 1.91 seconds, data scanned: 0.130 MB)
Fetched 932 rows

                 tissue_name  tissue_count
0                       None         17765
1                      liver          3598
2                 quadriceps           100
3          prefrontal cortex           219
4                  forebrain           103
..                       ...           ...
927  flexor digitorum longus             1
928                   antler             1
929            myelin sheath             1
930          olfactory organ             1
931     longissimus thoracis             1

[932 rows x 2 columns]

### Fetch the list of all the dataset IDs where expression value of gene 'brd4' is reported

In [47]:
query = "SELECT src_dataset_id, name FROM geo.features WHERE LOWER(name) = 'brd4'"
results=omixatlas.query_metadata(query, query_api_version="v2")
results

Query execution succeeded (time taken: 3.40 seconds, data scanned: 139.192 MB)
Fetched 723 rows

        src_dataset_id  name
0     GSE23860_GPL6238  Brd4
1    GSE98742_GPL10558  BRD4
2    GSE94728_GPL16791  BRD4
3    GSE83405_GPL16331  Brd4
4    GSE82020_GPL10787  Brd4
..                 ...   ...
718   GSE43578_GPL6246  Brd4
719  GSE71620_GPL11532  BRD4
720  GSE56161_GPL10787  Brd4
721     GSE230_GPL8300  BRD4
722  GSE71074_GPL11154  BRD4

[723 rows x 2 columns]

### Get the name of samples, dataset ID and extract_protocol_ch1 where spectroscopy is mentioned in the extract_protocol_ch1

In [48]:
query = """SELECT name, src_dataset_id, extract_protocol_ch1 FROM geo.samples
         WHERE LOWER(extract_protocol_ch1) LIKE '%spectroscopy%'"""
results=omixatlas.query_metadata(query, query_api_version="v2")
results

Query execution succeeded (time taken: 4.20 seconds, data scanned: 160.930 MB)
Fetched 752 rows

,name,src_dataset_id,extract_protocol_ch1
0,GSM1697400,GSE69306_GPL19559,Gastrointestinal tissues (whole stomach and ab...
1,GSM96567,GSE4230_GPL1261,Embryonic kidney tissue from each individual w...
2,GSM2210787,GSE83602_GPL21382,RNA isolation was performed using a miRNeasy M...
3,GSM1697388,GSE69306_GPL19559,Gastrointestinal tissues (whole stomach and ab...
4,GSM436442,GSE17504_GPL6244,Total RNA was isolated from hESF from subjects...
...,...,...,...
747,GSM2757387,GSE103205_GPL2872,Total RNA was isolated from snap-frozen hepati...
748,GSM1192607,GSE49030_GPL1261,For RNA isolation hippocampi were dissected fr...
749,GSM3143578,GSE114528_GPL19057,"RNA was extracted from sorted EVP, TA and D ce..."
750,GSM2210798,GSE83602_GPL21382,RNA isolation was performed using a miRNeasy M...
751,GSM1697446,GSE69306_GPL19559,Gastrointestinal tissues (whole stomach and ab...

### Get the name of gene and number of samples where information about particular gene is curated

In [62]:
query = """SELECT gene, COUNT(*) AS count FROM geo.samples GROUP BY gene ORDER BY count DESC """
results=omixatlas.query_metadata(query, query_api_version="v2")
results

Query execution succeeded (time taken: 2.00 seconds, data scanned: 0.093 MB)
Fetched 326 rows

          gene    count
0           []  1331220
1       [none]    27319
2        [CD4]      631
3       [CD8A]      503
4       [CD14]      448
..         ...      ...
321     [ZEB2]        1
322   [ARID3B]        1
323   [STARD3]        1
324      [IL4]        1
325  [MIR26A1]        1

[326 rows x 2 columns]

### Get number of datasets with all combinations of disease and tissues in GEO

In [36]:
query = """SELECT tissue_name, disease_name, COUNT(*) AS COUNT_COL FROM geo.datasets 
    CROSS JOIN UNNEST(tissue) AS t(tissue_name) 
    CROSS JOIN UNNEST (disease) AS t(disease_name)
    GROUP BY tissue_name, disease_name
    ORDER BY COUNT_COL desc"""
results=omixatlas.query_metadata(query, query_api_version="v2")
results

Query execution succeeded (time taken: 1.76 seconds, data scanned: 0.388 MB)
Fetched 27758 rows

            tissue_name                            disease_name  COUNT_COL
0                  None                                  Normal       5854
1                 liver                                  Normal       1344
2                  None                               Neoplasms       1268
3                  None                        Breast Neoplasms       1016
4           bone marrow                                  Normal        985
...                 ...                                     ...        ...
27753  peripheral blood                                 Myalgia          1
27754  peripheral blood  Blood Coagulation Disorders, Inherited          1
27755  alimentary canal                                  Normal          1
27756    left ventricle                      Long Qt Syndrome 3          1
27757          placenta  Pulmonary Disease, Chronic Obstructive          1

[27758 rows x 3 columns]

### Fetch data matrix for a dataset_ID of interest

In [64]:
query = "SELECT * FROM data_matrices.geo__GSE4230_GPL1261"
results=omixatlas.query_metadata(query, query_api_version="v2")
results

Query execution succeeded (time taken: 1.26 seconds, data scanned: 0.922 MB)
Fetched 20736 rows

,rid,gsm96563,gsm96564,gsm96565,gsm96566,gsm96567,gsm96568,gsm96569,gsm96570,row_id
0,Hbb-y,12.7775,12.6816,12.8115,12.7138,4.6548,4.5429,4.4265,4.3696,hbb_y
1,Bbip1,12.6214,12.5121,12.3345,12.6402,9.5737,9.6951,10.6927,10.3277,bbip1
2,Actb,13.9787,13.8807,13.9282,14.0340,12.8278,13.0275,13.6720,12.5043,actb
3,Fth1,11.6626,11.2601,11.9009,11.6864,12.9458,13.1211,12.8372,13.0097,fth1
4,Rpgrip1,12.7654,12.7127,12.2721,12.6098,10.0882,10.1332,10.6733,10.4763,rpgrip1
...,...,...,...,...,...,...,...,...,...,...
20731,Snapc5,4.9242,5.0460,4.7005,4.6873,4.8461,4.8823,4.5441,4.8709,snapc5
20732,A430035B10Rik,6.4076,6.3439,6.1458,6.4500,6.4574,6.3879,6.4610,6.6280,a430035b10rik
20733,Vmn1r172,5.7065,5.5740,5.4857,5.4360,5.4923,5.5236,5.5771,5.3925,vmn1r172
20734,Gm16845,6.1398,6.1311,6.3071,5.8718,6.3268,6.2849,6.2742,6.2801,gm16845
20735,D19Ertd200e,5.1695,5.1267,5.4580,5.2017,4.9188,4.8641,5.2946,5.1589,d19ertd200e

### Fetch data matrix for selected genes for a dataset_ID of interest

In [66]:
gene = ('hbb-y', 'fth1', 'bbip1', 'actb')
query = f"SELECT * FROM data_matrices.geo__GSE4230_GPL1261 WHERE LOWER(rid) IN {gene}"
results=omixatlas.query_metadata(query, query_api_version="v2")
results

Query execution succeeded (time taken: 1.04 seconds, data scanned: 0.922 MB)
Fetched 4 rows

,rid,gsm96563,gsm96564,gsm96565,gsm96566,gsm96567,gsm96568,gsm96569,gsm96570,row_id
0,Hbb-y,12.7775,12.6816,12.8115,12.7138,4.6548,4.5429,4.4265,4.3696,hbb_y
1,Bbip1,12.6214,12.5121,12.3345,12.6402,9.5737,9.6951,10.6927,10.3277,bbip1
2,Actb,13.9787,13.8807,13.9282,14.0340,12.8278,13.0275,13.6720,12.5043,actb
3,Fth1,11.6626,11.2601,11.9009,11.6864,12.9458,13.1211,12.8372,13.0097,fth1

### Get dataset_IDs where disease is obesity and organism can be either human or rat

In [77]:
query = """SELECT dataset_id, organism_name, disease_name FROM geo.datasets 
    CROSS JOIN UNNEST(organism) AS t(organism_name) 
    CROSS JOIN UNNEST (disease) AS t(disease_name) 
    WHERE LOWER (disease_name) LIKE 'obesity' AND (LOWER(organism_name) LIKE 'homo sapiens' OR LOWER (organism_name) LIKE 'rattus norvegicus')"""
results=omixatlas.query_metadata(query, query_api_version="v2")
results

Query execution succeeded (time taken: 1.73 seconds, data scanned: 0.732 MB)
Fetched 336 rows

             dataset_id      organism_name disease_name
0      GSE36295_GPL6244       Homo sapiens      Obesity
1     GSE22540_GPL10582  Rattus norvegicus      Obesity
2     GSE119955_GPL4135  Rattus norvegicus      Obesity
3     GSE76490_GPL11154       Homo sapiens      Obesity
4    GSE159809_GPL13497       Homo sapiens      Obesity
..                  ...                ...          ...
331  GSE113819_GPL17586       Homo sapiens      Obesity
332    GSE22857_GPL1456       Homo sapiens      Obesity
333   GSE73385_GPL17586       Homo sapiens      Obesity
334    GSE102293_GPL570       Homo sapiens      Obesity
335    GSE22070_GPL6947       Homo sapiens      Obesity

[336 rows x 3 columns]

## JOIN Queries

### Get microarray datasets and their samples where the ‘HeLa’ cell line was used on a microarray platform

In [54]:
#Get microarray datasets and their samples where the ‘HeLa’ cell line was used on a microarray platform

query = """  SELECT datasets.dataset_id AS dataset_id, sample_name AS sample_name FROM geo.datasets AS datasets
    JOIN (
        SELECT src_dataset_id AS dataset_id, name AS sample_name FROM geo.samples WHERE CONTAINS(cell_line, 'HeLa')
         ) AS hela_samples
    ON datasets.dataset_id = hela_samples.dataset_id WHERE LOWER(platform) = 'microarray'
    ORDER BY datasets.dataset_id"""
results=omixatlas.query_metadata(query, query_api_version="v2")
results

Query execution succeeded (time taken: 2.76 seconds, data scanned: 15.896 MB)
Fetched 1139 rows

              dataset_id sample_name
0     GSE101098_GPL16686  GSM2699149
1     GSE101098_GPL16686  GSM2699151
2     GSE101098_GPL16686  GSM2699150
3     GSE101098_GPL16686  GSM2699148
4     GSE101098_GPL16686  GSM2699152
...                  ...         ...
1134    GSE96671_GPL4133  GSM2537861
1135    GSE96671_GPL4133  GSM2537864
1136    GSE96671_GPL4133  GSM2537856
1137    GSE96671_GPL4133  GSM2537858
1138    GSE96671_GPL4133  GSM2537868

[1139 rows x 2 columns]

### Queries using a sub-query

In [55]:
query = """SELECT src_dataset_id AS dataset_id, name AS sample_name FROM geo.samples
    WHERE CONTAINS (cell_line, 'HeLa') AND src_dataset_id 
    IN (SELECT dataset_id FROM geo.datasets WHERE LOWER (platform) = 'microarray')"""
results=omixatlas.query_metadata(query, query_api_version="v2")
results

Query execution succeeded (time taken: 2.73 seconds, data scanned: 15.896 MB)
Fetched 1139 rows

              dataset_id sample_name
0      GSE75365_GPL19803  GSM1953950
1      GSE93568_GPL13252  GSM2454773
2       GSE26781_GPL6883   GSM659010
3     GSE164406_GPL21185  GSM4998752
4        GSE35823_GPL571   GSM875741
...                  ...         ...
1134   GSE75365_GPL19803  GSM1953948
1135     GSE53103_GPL570  GSM1282422
1136    GSE36509_GPL6244   GSM895994
1137     GSE53103_GPL570  GSM1282441
1138     GSE53103_GPL570  GSM1282401

[1139 rows x 2 columns]

# Rough

### Parallelise queries

In [8]:
def query_split(query):
    
    """
    Returns N SQL queries equal to the number of input indexes
    
    Extended description of function.
    
    Parameters:
    query (str): input SQL query to search across any given omixatlases
    
    Returns:
    q_list (list): list of SQL queries where each query queries on a single index only.
    
    """
    
    index_search = re.search("from(.*)where", query, re.IGNORECASE)
    index_list = index_search.group(1).split(',')
    index_list = [index.strip() for index in index_list]
    
    const_string1 = query.split(index_list[0]) #Extract constant SQL query
    const_string2 = query.split(index_list[-1]) #Extract constant SQL query
    
    q_list = []
    
    for index in index_list:
        q = f"{const_string1[0]}{index}{const_string2[-1]}"
        q_list.append(q)
    
    return q_list

def query_oa(query):
    
    """
    Returns a table containing metadata for all results based on the input SQL query
    
    Extended description of function.
    
    Parameters: 
    query (string): list of input SQL queries where each query is used to query across a single omixatlas
    
    Returns:
    all_df (dataframe): DataFrame containing metadata of the resulting data.
    
    """

    all_df = omixatlas.query_metadata(query)
    return all_df
    

def parallel_query(query_list):
    
    """
    Performs a parallel execution by dividing the task among multiple threads rather than multiple CPUs
    
    Extended description of function.
    
    Parameters: 
    query_list (list): list of input SQL queries where each query is used to search across a single omixatlas
    
    Returns:
    result_df (dataframe): DataFrame containing dataset level metadata of the resulting datasets.
    
    """

    final = []
    result = Parallel(n_jobs=10, prefer="threads")(delayed(query_oa)(query) for query in query_list)

    for that_dict in result:
        if isinstance(that_dict, pd.DataFrame):
            final.append(that_dict)
    
    result_df = pd.concat(final)
    
    return result_df

In [ ]:
if __name__ == "__main__":
    
    fl69 = ('GSE143492_GPL18573',
'GSE139533_GPL18573',
'GSE96568_GPL16791',
'GSE107513_GPL10558',
'GSE14860_GPL2004',
'GSE61335_GPL19184',
'GSE89408_GPL11154',
'GSE31037_GPL10999',
'GSE135055_GPL16791',
'GSE83687_GPL16791',
'GSE114517_GPL18573',
'GSE18381_GPL9115',
'GSE95587_GPL16791')
    
    for item in {fl69}
    sql = f"SELECT * FROM geo.datasets WHERE dataset_id = {item}'"
    
    try:
        result_df = query_oa(sql)
    except Exception as e:
        print('Caught this Exception: ' + repr(e))
        query_list = query_split(sql)
        result_df = parallel_query(query_list)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Caught this Exception: QueryFailedException("Invalid SQL query: Failed to parse query due to offending symbol ['] at: 'SELECT * FROM geo_files WHERE dataset_id = ('GSE143492_GPL18573', 'GSE139533_GPL18573', 'GSE96568_GPL16791', 'GSE107513_GPL10558', 'GSE14860_GPL2004', 'GSE61335_GPL19184', 'GSE89408_GPL11154', 'GSE31037_GPL10999', 'GSE135055_GPL16791', 'GSE83687_GPL16791', 'GSE114517_GPL18573', 'GSE18381_GPL9115', 'GSE95587_GPL16791')'' <--- HERE... More details: Expecting tokens in {<EOF>, 'AND', 'BETWEEN', 'GROUP', 'HAVING', 'IN', 'IS', 'LIKE', 'LIMIT', 'NOT', 'OR', 'ORDER', 'REGEXP', '*', '/', '%', '+', '-', 'DIV', 'MOD', '=', '>', '<', '!', '|', '&', '^'}",)
Traceback (most recent call last):
polly.errors.QueryFailedException: Query failed to execute
	reason: Invalid SQL query: Failed to parse query due to offending symbol ['] at: 'SELECT * FROM geo_files WHERE dataset_id = ('GSE143492_GPL18573', 'GSE139533_GPL18573', 'GSE96568_GPL16791', 'GSE107513_GPL10558', 'GSE14860_GPL2004', 'GSE61335_GPL19184', 'GSE89408_GPL11154', 'GSE31037_GPL10999', 'GSE135055_GPL16791', 'GSE83687_GPL16791', 'GSE114517_GPL18573', 'GSE18381_GPL9115', 'GSE95587_GPL16791')'' <--- HERE... More details: Expecting tokens in {<EOF>, 'AND', 'BETWEEN', 'GROUP', 'HAVING', 'IN', 'IS', 'LIKE', 'LIMIT', 'NOT', 'OR', 'ORDER', 'REGEXP', '*', '/', '%', '+', '-', 'DIV', 'MOD', '=', '>', '<', '!', '|', '&', '^'}

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
NameError: name 'Parallel' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'NameError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AssertionError
Traceback (most recent call last):
polly.errors.QueryFailedException: Query failed to execute
	reason: Invalid SQL query: Failed to parse query due to offending symbol ['] at: 'SELECT * FROM geo_files WHERE dataset_id = ('GSE143492_GPL18573', 'GSE139533_GPL18573', 'GSE96568_GPL16791', 'GSE107513_GPL10558', 'GSE14860_GPL2004', 'GSE61335_GPL19184', 'GSE89408_GPL11154', 'GSE31037_GPL10999', 'GSE135055_GPL16791', 'GSE83687_GPL16791', 'GSE114517_GPL18573', 'GSE18381_GPL9115', 'GSE95587_GPL16791')'' <--- HERE... More details: Expecting tokens in {<EOF>, 'AND', 'BETWEEN', 'GROUP', 'HAVING', 'IN', 'IS', 'LIKE', 'LIMIT', 'NOT', 'OR', 'ORDER', 'REGEXP', '*', '/', '%', '+', '-', 'DIV', 'MOD', '=', '>', '<', '!', '|', '&', '^'}

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
NameError: name 'Parallel' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'NameError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
TypeError: must be str, not list

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AssertionError
Traceback (most recent call last):
polly.errors.QueryFailedException: Query failed to execute
	reason: Invalid SQL query: Failed to parse query due to offending symbol ['] at: 'SELECT * FROM geo_files WHERE dataset_id = ('GSE143492_GPL18573', 'GSE139533_GPL18573', 'GSE96568_GPL16791', 'GSE107513_GPL10558', 'GSE14860_GPL2004', 'GSE61335_GPL19184', 'GSE89408_GPL11154', 'GSE31037_GPL10999', 'GSE135055_GPL16791', 'GSE83687_GPL16791', 'GSE114517_GPL18573', 'GSE18381_GPL9115', 'GSE95587_GPL16791')'' <--- HERE... More details: Expecting tokens in {<EOF>, 'AND', 'BETWEEN', 'GROUP', 'HAVING', 'IN', 'IS', 'LIKE', 'LIMIT', 'NOT', 'OR', 'ORDER', 'REGEXP', '*', '/', '%', '+', '-', 'DIV', 'MOD', '=', '>', '<', '!', '|', '&', '^'}

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
NameError: name 'Parallel' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'NameError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
TypeError: must be str, not list

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
TypeError: must be str, not list

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AssertionError

In [31]:
fl69 = ('GSE143492_GPL18573',
'GSE139533_GPL18573',
'GSE96568_GPL16791',
'GSE107513_GPL10558',
'GSE14860_GPL2004',
'GSE61335_GPL19184',
'GSE89408_GPL11154',
'GSE31037_GPL10999',
'GSE135055_GPL16791',
'GSE83687_GPL16791',
'GSE114517_GPL18573',
'GSE18381_GPL9115',
'GSE95587_GPL16791',
'GSE159984_GPL9115',
'GSE112087_GPL16791',
'GSE80183_GPL11154')

df = pd.DataFrame()
for item in fl69:
    query = f"SELECT * FROM geo.samples WHERE src_dataset_id = '{item}'"
    print(query)
    results=omixatlas.query_metadata(query, query_api_version="v2")
    df = df.append(results)
print(df)

SELECT * FROM geo.samples WHERE src_dataset_id = 'GSE143492_GPL18573'
Query execution succeeded (time taken: 8.42 seconds, data scanned: 778.553 MB)
Fetched 314 rows
SELECT * FROM geo.samples WHERE src_dataset_id = 'GSE139533_GPL18573'
Query execution succeeded (time taken: 6.25 seconds, data scanned: 778.553 MB)
Fetched 152 rows
SELECT * FROM geo.samples WHERE src_dataset_id = 'GSE96568_GPL16791'
Query execution succeeded (time taken: 5.77 seconds, data scanned: 778.553 MB)
Fetched 246 rows
SELECT * FROM geo.samples WHERE src_dataset_id = 'GSE107513_GPL10558'
Query execution succeeded (time taken: 4.28 seconds, data scanned: 778.553 MB)
Fetched 140 rows
SELECT * FROM geo.samples WHERE src_dataset_id = 'GSE14860_GPL2004'
Query execution succeeded (time taken: 4.03 seconds, data scanned: 778.553 MB)
Fetched 117 rows
SELECT * FROM geo.samples WHERE src_dataset_id = 'GSE61335_GPL19184'
Query execution succeeded (time taken: 4.02 seconds, data scanned: 778.553 MB)
Fetched 62 rows
SELECT * FROM geo.samples WHERE src_dataset_id = 'GSE89408_GPL11154'
Query execution succeeded (time taken: 4.69 seconds, data scanned: 778.553 MB)
Fetched 218 rows
SELECT * FROM geo.samples WHERE src_dataset_id = 'GSE31037_GPL10999'
Query execution succeeded (time taken: 3.97 seconds, data scanned: 778.553 MB)
Fetched 67 rows
SELECT * FROM geo.samples WHERE src_dataset_id = 'GSE135055_GPL16791'
Query execution succeeded (time taken: 3.82 seconds, data scanned: 778.553 MB)
Fetched 58 rows
SELECT * FROM geo.samples WHERE src_dataset_id = 'GSE83687_GPL16791'
Query execution succeeded (time taken: 3.65 seconds, data scanned: 778.553 MB)
Fetched 134 rows
SELECT * FROM geo.samples WHERE src_dataset_id = 'GSE114517_GPL18573'
Query execution succeeded (time taken: 3.59 seconds, data scanned: 778.553 MB)
Fetched 46 rows
SELECT * FROM geo.samples WHERE src_dataset_id = 'GSE18381_GPL9115'
Query execution succeeded (time taken: 3.78 seconds, data scanned: 583.927 MB)
Fetched 11 rows
SELECT * FROM geo.samples WHERE src_dataset_id = 'GSE95587_GPL16791'
Query execution succeeded (time taken: 3.99 seconds, data scanned: 778.553 MB)
Fetched 64 rows
SELECT * FROM geo.samples WHERE src_dataset_id = 'GSE159984_GPL9115'
Query execution succeeded (time taken: 3.95 seconds, data scanned: 778.553 MB)
Fetched 85 rows
SELECT * FROM geo.samples WHERE src_dataset_id = 'GSE112087_GPL16791'
Query execution succeeded (time taken: 4.40 seconds, data scanned: 778.553 MB)
Fetched 66 rows
SELECT * FROM geo.samples WHERE src_dataset_id = 'GSE80183_GPL11154'
Query execution succeeded (time taken: 4.39 seconds, data scanned: 681.375 MB)
Fetched 16 rows
   growth_protocol_ch1                                            src_uri  \
0                  NaN  polly:data://GEO_data_lake/data/RNASeq/GSE1434...
1                  NaN  polly:data://GEO_data_lake/data/RNASeq/GSE1434...
2                  NaN  polly:data://GEO_data_lake/data/RNASeq/GSE1434...
3                  NaN  polly:data://GEO_data_lake/data/RNASeq/GSE1434...
4                  NaN  polly:data://GEO_data_lake/data/RNASeq/GSE1434...
..                 ...                                                ...
11                 NaN  polly:data://GEO_data_lake/data/RNASeq/GSE8018...
12                 NaN  polly:data://GEO_data_lake/data/RNASeq/GSE8018...
13                 NaN  polly:data://GEO_data_lake/data/RNASeq/GSE8018...
14                 NaN  polly:data://GEO_data_lake/data/RNASeq/GSE8018...
15                 NaN  polly:data://GEO_data_lake/data/RNASeq/GSE8018...

    sample_id  dose_ch1                                        cohort_name  \
0         NaN       NaN                                                NaN
1         NaN       NaN                                                NaN
2         NaN       NaN                                                NaN
3         NaN       NaN                                                NaN
4         NaN       NaN                                                NaN
..        ...       ...                                                ...
11        NaN       NaN  Systemic lupus erythematosus; anti-dsDNA and a...
12        NaN       NaN                                            control
13        NaN       NaN  Systemic lupus erythematosus; anti-dsDNA and a...
14        NaN       NaN           Systemic lupus erythematosus; anti-dsDNA
15        NaN       NaN             Systemic lupus erythematosus; anti-ENA

     tissue      src_dataset_id    drug  \
0    [none]  GSE143492_GPL18573  [none]
1    [none]  GSE143492_GPL18573  [none]
2    [none]  GSE143492_GPL18573  [none]
3    [none]  GSE143492_GPL18573  [none]
4    [none]  GSE143492_GPL18573  [none]
..      ...                 ...     ...
11  [blood]   GSE80183_GPL11154  [none]
12  [blood]   GSE80183_GPL11154  [none]
13  [blood]   GSE80183_GPL11154  [none]
14  [blood]   GSE80183_GPL11154  [none]
15  [blood]   GSE80183_GPL11154  [none]

                                 extract_protocol_ch1  characteristics_ch2  \
0   Day 0 myoblasts were lifted from plates using ...                  NaN
1   Day 0 myoblasts were lifted from plates using ...                  NaN
2   Day 0 myoblasts were lifted from plates using ...                  NaN
3   Day 0 myoblasts were lifted from plates using ...                  NaN
4   Day 0 myoblasts were lifted from plates using ...                  NaN
..                                                ...                  ...
11  Total RNA was isolated from blood using TRI re...                  NaN
12  Total RNA was isolated from blood using TRI re...                  NaN
13  Total RNA was isolated from blood using TRI re...                  NaN
14  Total RNA was isolated from blood using TRI re...                  NaN
15  Total RNA was isolated from blood using TRI re...                  NaN

   cell_line                          characteristics_ch1  \
0     [none]                          individual: FSHD2-2
1     [none]                          individual: FSHD2-2
2     [none]                        individual: Control-3
3     [none]                          individual: FSHD2-2
4     [none]                        individual: Control-3
..       ...                                          ...
11    [none]  disease state: Systemic lupus erythematosus
12    [none]                       disease state: control
13    [none]  disease state: Systemic lupus erythematosus
14    [none]  disease state: Systemic lupus erythematosus
15    [none]  disease state: Systemic lupus erythematosus

    extract_protocol_ch2  age_ch1 drug_smiles_code  sex_ch1  treatment_ch1  \
0                    NaN      NaN               []      NaN            NaN
1                    NaN      NaN               []      NaN            NaN
2                    NaN      NaN               []      NaN            NaN
3                    NaN      NaN               []      NaN            NaN
4                    NaN      NaN               []      NaN            NaN
..                   ...      ...              ...      ...            ...
11                   NaN      NaN               []      NaN            NaN
12                   NaN      NaN               []      NaN            NaN
13                   NaN      NaN               []      NaN            NaN
14                   NaN      NaN               []      NaN            NaN
15                   NaN      NaN               []      NaN            NaN

   gene  taxid_ch1  cohort_id  version  label_protocol_ch2 label_protocol_ch1  \
0    []       9606         15        0                 NaN                NaN
1    []       9606         79        0                 NaN                NaN
2    []       9606         42        0                 NaN                NaN
3    []       9606         73        0                 NaN                NaN
4    []       9606         34        0                 NaN                NaN
..  ...        ...        ...      ...                 ...                ...
11   []       9606          2        0                 NaN                NaN
12   []       9606          3        0                 NaN                NaN
13   []       9606          2        0                 NaN                NaN
14   []       9606          1        0                 NaN                NaN
15   []       9606          0        0                 NaN                NaN

    treatment_protocol_ch2  characteristics_ch2_1 treatment_protocol_ch1  \
0                      NaN                    NaN                    NaN
1                      NaN                    NaN                    NaN
2                      NaN                    NaN                    NaN
3                      NaN                    NaN                    NaN
4                      NaN                    NaN                    NaN
..                     ...                    ...                    ...
11                     NaN                    NaN                    NaN
12                     NaN                    NaN                    NaN
13                     NaN                    NaN                    NaN
14                     NaN                    NaN                    NaN
15                     NaN                    NaN                    NaN

        instrument_model        name  bmi_ch1  \
0   Illumina NextSeq 500  GSM4260501      NaN
1   Illumina NextSeq 500  GSM4260728      NaN
2   Illumina NextSeq 500  GSM4260573      NaN
3   Illumina NextSeq 500  GSM4260671      NaN
4   Illumina NextSeq 500  GSM4260561      NaN
..                   ...         ...      ...
11   Illumina HiSeq 2000  GSM2114352      NaN
12   Illumina HiSeq 2000  GSM2114359      NaN
13   Illumina HiSeq 2000  GSM2114351      NaN
14   Illumina HiSeq 2000  GSM2114345      NaN
15   Illumina HiSeq 2000  GSM2114356      NaN

                                      data_processing  description  \
0   Raw data converted to fastq using bcl2fastq v2...  poly-A+ RNA
1   Raw data converted to fastq using bcl2fastq v2...  poly-A+ RNA
2   Raw data converted to fastq using bcl2fastq v2...  poly-A+ RNA
3   Raw data converted to fastq using bcl2fastq v2...  poly-A+ RNA
4   Raw data converted to fastq using bcl2fastq v2...  poly-A+ RNA
..                                                ...          ...
11  Alignment was performed using TopHat (v2.0.8) ...          NaN
12  Alignment was performed using TopHat (v2.0.8) ...          NaN
13  Alignment was performed using TopHat (v2.0.8) ...          NaN
14  Alignment was performed using TopHat (v2.0.8) ...          NaN
15  Alignment was performed using TopHat (v2.0.8) ...          NaN

                              title     timestamp_     data_id   cell_type  \
0               Day_0_FSHD2_2_R1_B2  1643885928084  gsm4260501  [myoblast]
1               Day_3_FSHD2_2_R2_F1  1643885928087  gsm4260728   [myotube]
2          Day_3_Control_3_R1_G11_1  1643885928085  gsm4260573   [myotube]
3              Day_3_FSHD2_2_R1_G11  1643885928086  gsm4260671   [myotube]
4          Day_3_Control_3_R1_E10_2  1643885928085  gsm4260561   [myotube]
..                              ...            ...         ...         ...
11  S16 Anti-dsDNA+ENA+ SLE patient  1643894961357  gsm2114352      [none]
12                       C3 Control  1643894961357  gsm2114359      [none]
13  S15 Anti-dsDNA+ENA+ SLE patient  1643894961357  gsm2114351      [none]
14      S02 Anti-dsDNA+ SLE patient  1643894961358  gsm2114345      [none]
15        S25 Anti-ENA+ SLE patient  1643894961357  gsm2114356      [none]

   src_repo     id_key                                      disease  \
0       geo  kw_column  [Facioscapulohumeral muscular dystrophy 1a]
1       geo  kw_column  [Facioscapulohumeral muscular dystrophy 1a]
2       geo  kw_column                                     [Normal]
3       geo  kw_column  [Facioscapulohumeral muscular dystrophy 1a]
4       geo  kw_column                                     [Normal]
..      ...        ...                                          ...
11      geo  kw_column              [Lupus Erythematosus, Systemic]
12      geo  kw_column                                     [Normal]
13      geo  kw_column              [Lupus Erythematosus, Systemic]
14      geo  kw_column              [Lupus Erythematosus, Systemic]
15      geo  kw_column              [Lupus Erythematosus, Systemic]

    gender_ch1  smoking_status_ch1  label_ch2  control label_ch1  \
0          NaN                 NaN        NaN        0       NaN
1          NaN                 NaN        NaN        0       NaN
2          NaN                 NaN        NaN        1       NaN
3          NaN                 NaN        NaN        0       NaN
4          NaN                 NaN        NaN        1       NaN
..         ...                 ...        ...      ...       ...
11         NaN                 NaN        NaN        0       NaN
12         NaN                 NaN        NaN        1       NaN
13         NaN                 NaN        NaN        0       NaN
14         NaN                 NaN        NaN        0       NaN
15         NaN                 NaN        NaN        0       NaN

    time_point_ch1  characteristics_ch1_3  characteristics_ch1_2  \
0              NaN                    NaN                    NaN
1              NaN                    NaN                    NaN
2              NaN                    NaN                    NaN
3              NaN                    NaN                    NaN
4              NaN                    NaN                    NaN
..             ...                    ...                    ...
11             NaN                    NaN                    NaN
12             NaN                    NaN                    NaN
13             NaN                    NaN                    NaN
14             NaN                    NaN                    NaN
15             NaN                    NaN                    NaN

   gene_modified genetic_modification hyb_protocol platform_id  is_current  \
0         [none]           [wildtype]          NaN    GPL18573        True
1         [none]           [wildtype]          NaN    GPL18573        True
2         [none]           [wildtype]          NaN    GPL18573        True
3         [none]           [wildtype]          NaN    GPL18573        True
4         [none]           [wildtype]          NaN    GPL18573        True
..           ...                  ...          ...         ...         ...
11        [none]           [wildtype]          NaN    GPL11154        True
12        [none]           [wildtype]          NaN    GPL11154        True
13        [none]           [wildtype]          NaN    GPL11154        True
14        [none]           [wildtype]          NaN    GPL11154        True
15        [none]           [wildtype]          NaN    GPL11154        True

    characteristics_ch1_1
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
..                    ...
11                    NaN
12                    NaN
13                    NaN
14                    NaN
15                    NaN

[1796 rows x 52 columns]

In [32]:
df.to_csv("fl69_downloads-samples.csv")

In [33]:
df

,growth_protocol_ch1,src_uri,sample_id,dose_ch1,cohort_name,tissue,src_dataset_id,drug,extract_protocol_ch1,characteristics_ch2,cell_line,characteristics_ch1,extract_protocol_ch2,age_ch1,drug_smiles_code,sex_ch1,treatment_ch1,gene,taxid_ch1,cohort_id,version,label_protocol_ch2,label_protocol_ch1,treatment_protocol_ch2,characteristics_ch2_1,treatment_protocol_ch1,instrument_model,name,bmi_ch1,data_processing,description,title,timestamp_,data_id,cell_type,src_repo,id_key,disease,gender_ch1,smoking_status_ch1,label_ch2,control,label_ch1,time_point_ch1,characteristics_ch1_3,characteristics_ch1_2,gene_modified,genetic_modification,hyb_protocol,platform_id,is_current,characteristics_ch1_1
0,NaN,polly:data://GEO_data_lake/data/RNASeq/GSE1434...,NaN,NaN,NaN,[none],GSE143492_GPL18573,[none],Day 0 myoblasts were lifted from plates using ...,NaN,[none],individual: FSHD2-2,NaN,NaN,[],NaN,NaN,[],9606,15,0,NaN,NaN,NaN,NaN,NaN,Illumina NextSeq 500,GSM4260501,NaN,Raw data converted to fastq using bcl2fastq v2...,poly-A+ RNA,Day_0_FSHD2_2_R1_B2,1643885928084,gsm4260501,[myoblast],geo,kw_column,[Facioscapulohumeral muscular dystrophy 1a],NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,[none],[wildtype],NaN,GPL18573,True,NaN
1,NaN,polly:data://GEO_data_lake/data/RNASeq/GSE1434...,NaN,NaN,NaN,[none],GSE143492_GPL18573,[none],Day 0 myoblasts were lifted from plates using ...,NaN,[none],individual: FSHD2-2,NaN,NaN,[],NaN,NaN,[],9606,79,0,NaN,NaN,NaN,NaN,NaN,Illumina NextSeq 500,GSM4260728,NaN,Raw data converted to fastq using bcl2fastq v2...,poly-A+ RNA,Day_3_FSHD2_2_R2_F1,1643885928087,gsm4260728,[myotube],geo,kw_column,[Facioscapulohumeral muscular dystrophy 1a],NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,[none],[wildtype],NaN,GPL18573,True,NaN
2,NaN,polly:data://GEO_data_lake/data/RNASeq/GSE1434...,NaN,NaN,NaN,[none],GSE143492_GPL18573,[none],Day 0 myoblasts were lifted from plates using ...,NaN,[none],individual: Control-3,NaN,NaN,[],NaN,NaN,[],9606,42,0,NaN,NaN,NaN,NaN,NaN,Illumina NextSeq 500,GSM4260573,NaN,Raw data converted to fastq using bcl2fastq v2...,poly-A+ RNA,Day_3_Control_3_R1_G11_1,1643885928085,gsm4260573,[myotube],geo,kw_column,[Normal],NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,[none],[wildtype],NaN,GPL18573,True,NaN
3,NaN,polly:data://GEO_data_lake/data/RNASeq/GSE1434...,NaN,NaN,NaN,[none],GSE143492_GPL18573,[none],Day 0 myoblasts were lifted from plates using ...,NaN,[none],individual: FSHD2-2,NaN,NaN,[],NaN,NaN,[],9606,73,0,NaN,NaN,NaN,NaN,NaN,Illumina NextSeq 500,GSM4260671,NaN,Raw data converted to fastq using bcl2fastq v2...,poly-A+ RNA,Day_3_FSHD2_2_R1_G11,1643885928086,gsm4260671,[myotube],geo,kw_column,[Facioscapulohumeral muscular dystrophy 1a],NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,[none],[wildtype],NaN,GPL18573,True,NaN
4,NaN,polly:data://GEO_data_lake/data/RNASeq/GSE1434...,NaN,NaN,NaN,[none],GSE143492_GPL18573,[none],Day 0 myoblasts were lifted from plates using ...,NaN,[none],individual: Control-3,NaN,NaN,[],NaN,NaN,[],9606,34,0,NaN,NaN,NaN,NaN,NaN,Illumina NextSeq 500,GSM4260561,NaN,Raw data converted to fastq using bcl2fastq v2...,poly-A+ RNA,Day_3_Control_3_R1_E10_2,1643885928085,gsm4260561,[myotube],geo,kw_column,[Normal],NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,[none],[wildtype],NaN,GPL18573,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,NaN,polly:data://GEO_data_lake/data/RNASeq/GSE8018...,NaN,NaN,Systemic lupus erythematosus; anti-dsDNA and a...,[blood],GSE80183_GPL11154,[none],Total RNA was isolated from blood using TRI re...,NaN,[none],disease state: Systemic lupus erythematosus,NaN,NaN,[],NaN,NaN,[],9606,2,0,NaN,NaN,NaN,NaN,NaN,Illumina HiSeq 2000,GSM2114352,NaN,Alignment was performed using TopHat (v2.0.8) ...,NaN,S16 Anti-dsDNA+ENA+ SLE patient,1643894961357,gsm2114352,[none],geo,kw_column,"[Lupus Erythematosus, Systemic]",NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,[none],[wildtype],NaN,GPL11154,True,NaN
12,NaN,polly:data://GEO_data_lake/data/RNASeq/GSE8018...,NaN,NaN,control,[blood],GSE80183_GPL11154,[none],Total RNA was isolated from blood using TRI re...,NaN,[none],disease state: control,NaN,NaN,[],NaN,NaN,[],9606,3,0,NaN,NaN,NaN,NaN,NaN,Illumina HiSeq 2000,GSM2114359,NaN,Alignment was performed using TopHat (v2.0.8) ...,NaN,C3 Control,1643894961357,gsm2114359,[none],geo,kw_column,[Normal],NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,[none],[wildtype],NaN,GPL11154,True,NaN
13,NaN,polly:data://GEO_data_lake/data/RNASeq/GSE8018...,NaN,NaN,Systemic lupus erythematosus; anti-dsDNA and a...,[blood],GSE80183_GPL11154,[none],Total RNA was isolated from blood using TRI re...,NaN,[none],disease state: Systemic lupus erythematosus,NaN,NaN,[],NaN,NaN,[],9606,2,0,NaN,NaN,NaN,NaN,NaN,Illumina HiSeq 2000,GSM2114351,NaN,Alignment was performed using TopHat (v2.0.8) ...,NaN,S15 Anti-dsDNA+ENA+ SLE patient,1643894961357,gsm2114351,[none],geo,kw_column,"[Lupus Erythematosus, Systemic]",NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,[none],[wildtype],NaN,GPL11154,True,NaN
14,NaN,polly:data://GEO_data_lake/data/RNASeq/GSE8018...,NaN,NaN,Systemic lupus erythematosus; anti-dsDNA,[blood],GSE80183_GPL11154,[none],Total RNA was isolated from blood using TRI re...,NaN,[none],disease state: Systemic lupus erythematosus,NaN,NaN,[],NaN,NaN,[],9606,1,0,NaN,NaN,NaN,NaN,NaN,Illumina HiSeq 2000,GSM2114345,NaN,Alignment was performed using TopHat (v2.0.8) ...,NaN,S02 Anti-dsDNA+ SLE patient,1643894961358,gsm2114345,[none],geo,kw_column,"[Lupus Erythematosus, Systemic]",NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,[none],[wildtype],NaN,GPL11154,True,NaN
15,NaN,polly:data://GEO_data_lake/data/RNASeq/GSE8018...,NaN,NaN,Systemic lupus erythematosus; anti-ENA,[blood],GSE80183_GPL11154,[none],Total RNA was isolated from blood using TRI re...,NaN,[none],disease state: Systemic lupus erythematosus,NaN,NaN,[],NaN,NaN,[],9606,0,0,NaN,NaN,NaN,NaN,NaN,Illumina HiSeq 2000,GSM2114356,NaN,Alignment was performed using TopHat (v2.0.8) ...,NaN,S25 Anti-ENA+ SLE patient,1643894961357,gsm2114356,[none],geo,kw_column,"[Lupus Erythematosus, Systemic]",NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,[none],[wildtype],NaN,GPL11154,True,NaN